<!doctype html>
{% extends 'cards/base_card.html' %}
{% block image %}
<div class="card-image waves-effect waves-block waves-light">
        <img src="{{url_for('static', filename='example.jpg')}}" alt="Image preview...">
</div>

{% endblock %}

{% block short_msg %}
    <p>
        {% if remote["keep_on"] %}
            <a class="green-text lighten-2">away from home</a>
        {% else %}
            <a class="amber-text accent-4">passive</a>
        {% endif %}
        mode
    </p>
{% endblock %}

{% block long_msg %}
    <p>
    the door is
        {% if remote["door_open"] %}
            <a class="amber-text accent-4">open</a>
            {% else %}
            <a class="green-text lighten-2">closed</a>
        {% endif %}
    </p>

    <p> email addresses: {{remote["emails"]}} </p>
    <p> motion last detected at: {{remote["motion"]}} </p>
    <p> photo toggle: {{remote["photo_toggle"]}} </p>
    <p> buzzer is connected to gpio pin {{remote["pin_buzzer"]}} </p>
    <p> motion detector is connected to gpio pin {{remote["pin_motion"]}} </p>
    <p> switch is connected to gpio pin {{remote["pin"]}} </p>

    <p>

    <p>
        {% if remote["keep_on"] %}
            <a class="green-text lighten-2">away from home</a>
        {% else %}
            <a class="amber-text accent-4">passive</a>
        {% endif %}
        mode
    </p>


{% endblock %}

{% block button %}
    <button class="waves-effect btn-flat"
            value={{remote['pin']}} name=toggle>toggle away from home</button>

    <button class="waves-effect btn-flat"
            value={{remote['pin']}} name=photo_toggle>take photo</button>
{% endblock %}
