{% extends 'base.html' %}

{% block head %}
    <title> home automation </title>
{% endblock %}

{% block navbar %}
    <nav>
        <div class="nav-wrapper red lighten-2">
            <div class="container">

                <a href="/" class="brand-logo center">home automation</a>
                
                <a href="#" data-activates="sidebar" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>

                <!-- add new remote -->
                <div class="new remote">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <a data-activates='new_remote_type'
                                class="dropdown-button waves-effect">
                                add new remote
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- logout -->
                <div class="logout">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li> <a href="/logout"> logout </a> </li>
                    </ul>
                </div>

                <ul class="side-nav" id="sidebar">
                    <li><a href="/logout"> logout </a></li>
                    <li>
                        <a data-activates='new_remote_type'
                            class="dropdown-button waves-effect">
                            add new remote
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {% with error = get_flashed_messages() %}
        {% if error %}
            {% for e in error %}
            <p class="error red-text"> {{e}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if remotes|length == 0 %} <!-- No remote message -->
        <div class="row">
            <h5 class="center"> you have no remotes </h5>
        </div>
    {% else %} <!-- new remote button -->
        <div class="row">
            {% for remote in remotes %}
                {% include 'cards/' + remote['type'] + '.html' %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- new remote button -->

    <div class="row" >
        <p class="center">
            <a data-activates='new_remote_type'
               class="dropdown-button red lighten-2 waves-effect btn">
               Add New Remote
            </a>
        </p>
        <ul id='new_remote_type' class='dropdown-content'>
            {% for type in valid_types %}
                <li><a href="new/{{type}}">{{type}}</a></li>
                <li class="divider"></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block script %}
<script>
    $(".button-collapse").sideNav();
</script>
{% endblock %}
