<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
    <title> Home Automation </title>
{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper red lighten-2">
            <div class="container">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/new">Add New Remote</a></li>
                </ul>
            </div>
            <a href="/" class="brand-logo center">Home Automation</a>
        </div>
    </nav>

    <div class="container">
        {% if remotes|length == 0 %} <!-- No remote message -->
            <div class="row">
                <h5 class="center"> You have no remotes </h5>
            </div>
        {% else %} <!-- new remote button -->
            <div class="row">
                {% for remote in remotes %}
                    {% include 'cards/' + remote['type'] + '.html' %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- new remote button -->
        <div class="row" >
            <p class="center">
                <a href="/new" class="red lighten-2 waves-effect btn">
                    Add New Remote
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- agree disagree modal -->
    <script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
    });
    </script>
{% endblock %}
